html, body {
    height: 100%;
}
  
body {
  background-color: darkgreen;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
